/* SHELFS SECTIONS */
.sectionTitle {
  margin: 0 0 0.8rem;
  font-size: 2rem;
}

.shelfsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shelf {
  padding: 0.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100rem;
  box-sizing: border-box;
  margin: 2em 0;
}

@media (max-width: 768px) {
  .searchInput {
    width: 90vw;
  }
  .shelf {
    margin: 1em 0;
  }
}
